@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Alata&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Joan&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Antic&display=swap');
@import './tailwind.css';

body {
  font-family: 'DM Sans', 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 87.5%;
  /* Sets base rem to 14px instead of 16px */
}

* {
  box-sizing: border-box;
}


/* Hide horizontal scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
}

.header-scrolled .search-icon {
  margin-right: auto !important;
}

/* Keep wishlist, cart, and profile together on the right */
.header-scrolled .right-icons {
  display: flex;
  gap: 15px;
  margin-left: auto;
}